<style type='text/css'>
.big-white {
  font-size: 120px;
  font-weight: bold;
  height: 2em;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: rgb(100, 100, 100);
}
</style>
<textarea type='text' id='big-white' class='big-white' placeholder='Start typing...'></textarea>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src='/socket.io/socket.io.js'></script>
<script type-'text/javascript'>
var socket = io();
socket.on('text update', function(msg) {
document.element.getById('big-white').innerHTML = msg;
});
var text = "";
console.log("Initializing...");

$('#big-white').bind("keyup paste", function(e){
    if ($(this).val() != text)
    {
        console.log('Hello world!');
        // text changed
        text = $(this).val();
        socket.emit('update text', text);
    }    
});
</script>
